<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AsynchronousImportRetrievingSourceApi\Api\Data\SourceDataInterface"
                type="Magento\AsynchronousImportRetrievingSource\Model\SourceData" />

    <preference for="Magento\AsynchronousImportRetrievingSourceApi\Api\Data\RetrievingSourceDataResultInterface"
                type="Magento\AsynchronousImportRetrievingSource\Model\RetrievingSourceDataResult" />

    <preference for="Magento\AsynchronousImportRetrievingSourceApi\Api\RetrieveSourceDataInterface"
                type="Magento\AsynchronousImportRetrievingSource\Model\RetrieveSourceData" />
    <!-- Source data retrieving strategies registration -->
    <type name="Magento\AsynchronousImportRetrievingSource\Model\RetrieveSourceData">
        <arguments>
            <argument name="retrievingStrategies" xsi:type="array">
                <item name="base64_encoded_data" xsi:type="string">Magento\AsynchronousImportRetrievingSource\Model\SourceDataRetrievingStrategy\Base64EncodedData</item>
                <item name="remote_http" xsi:type="string">Magento\AsynchronousImportRetrievingSource\Model\SourceDataRetrievingStrategy\RemoteHttp</item>
                <item name="remote_https" xsi:type="string">Magento\AsynchronousImportRetrievingSource\Model\SourceDataRetrievingStrategy\RemoteHttps</item>
            </argument>
        </arguments>
    </type>
    <!-- Source data validators -->
    <!-- base64 encoded data -->
    <virtualType name="Magento\AsynchronousImportRetrievingSource\Model\Validator\Base64EncodedDataValidator"
                 type="Magento\AsynchronousImportRetrievingSourceApi\Model\SourceDataValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_data" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\SourceDataValidator</item>
                <item name="base64" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\Base64Validator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\AsynchronousImportRetrievingSource\Model\SourceDataRetrievingStrategy\Base64EncodedData">
        <arguments>
            <argument name="sourceDataValidator" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\Validator\Base64EncodedDataValidator</argument>
        </arguments>
    </type>
    <!-- remote http source data -->
    <virtualType name="Magento\AsynchronousImportRetrievingSource\Model\Validator\RemoteHttpValidator"
                 type="Magento\AsynchronousImportRetrievingSourceApi\Model\SourceDataValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_data" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\SourceDataValidator</item>
                <item name="remote_url" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\RemoteUrlValidator</item>
                <item name="mime_type" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\MimeTypeValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\AsynchronousImportRetrievingSource\Model\SourceDataRetrievingStrategy\RemoteHttp">
        <arguments>
            <argument name="sourceDataValidator" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\Validator\RemoteHttpValidator</argument>
        </arguments>
    </type>
    <!-- remote https source data -->
    <virtualType name="Magento\AsynchronousImportRetrievingSource\Model\Validator\RemoteHttpsValidator"
                 type="Magento\AsynchronousImportRetrievingSourceApi\Model\SourceDataValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="source_data" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\SourceDataValidator</item>
                <item name="remote_url" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\RemoteUrlValidator</item>
                <item name="mime_type" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\SourceDataValidator\MimeTypeValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\AsynchronousImportRetrievingSource\Model\SourceDataRetrievingStrategy\RemoteHttps">
        <arguments>
            <argument name="sourceDataValidator" xsi:type="object">Magento\AsynchronousImportRetrievingSource\Model\Validator\RemoteHttpsValidator</argument>
        </arguments>
    </type>
</config>
