<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ImportRest\Api\ImportProcessorInterface" type="Magento\ImportRest\Model\ImportProcessor" />
    <preference for="Magento\ImportRest\Api\Data\FileContentInterface" type="Magento\ImportRest\Model\FileContent" />
    <preference for="Magento\ImportRest\Api\Data\ImportEntryInterface" type="Magento\ImportRest\Model\ImportEntry" />
    <preference for="Magento\ImportRest\Api\Data\ImportParamsInterface" type="Magento\ImportRest\Model\ImportParams" />
</config>
