<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\ImportServiceSourceCsvApi\Api\SourceCsvGetInterface"
                type="Magento\ImportServiceSourceCsv\Model\SourceCsvGet" />
    <preference for="Magento\ImportServiceSourceCsvApi\Api\SourceCsvUpdateInterface"
                type="Magento\ImportServiceSourceCsv\Model\SourceCsvUpdate" />
    <preference for="Magento\ImportServiceSourceCsvApi\Api\SourceCsvUploadInterface"
                type="Magento\ImportServiceSourceCsv\Model\SourceCsvUpload" />

    <preference for="Magento\ImportServiceSourceCsvApi\Api\Data\SourceCsvInterface"
                type="Magento\ImportServiceSourceCsv\Model\SourceCsv" />
    <preference for="Magento\ImportServiceSourceCsvApi\Api\Data\SourceCsvFormatInterface"
                type="Magento\ImportServiceSourceCsv\Model\SourceCsvFormat" />

    <virtualType name="Magento\ImportService\Model\Import\Type\Csv" type="Magento\ImportService\Model\Import\Type\FileSourceType">
        <arguments>
            <argument name="sourceType" xsi:type="string">csv</argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="plain" xsi:type="string">text/plain</item>
                <item name="csv" xsi:type="string">text/csv</item>
                <item name="octet-stream" xsi:type="string">application/octet-stream</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportService\Model\Import\SourceTypePool">
        <arguments>
            <argument name="sourceTypes" xsi:type="array">
                <item name="csv" xsi:type="object">Magento\ImportService\Model\Import\Type\Csv</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ImportService\Model\Source\ReaderPool">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="csv" xsi:type="object">Magento\ImportServiceSourceCsv\Model\Import\Reader\CsvFactory</item>
            </argument>
        </arguments>
    </type>
</config>
