<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Data import strategies -->
    <type name="Magento\AsynchronousImportDataExchanging\Model\ExchangeImportData">
        <arguments>
            <argument name="exchangingStrategies" xsi:type="array">
                <item name="advanced_pricing" xsi:type="array">
                    <item name="add" xsi:type="object">Magento\AsynchronousImportAdvancedPricing\Model\DataExchangingStrategy\AdvancedPricing\Behaviour\Add\Proxy</item>
                    <item name="update" xsi:type="object">Magento\AsynchronousImportAdvancedPricing\Model\DataExchangingStrategy\AdvancedPricing\Behaviour\Update\Proxy</item>
                    <item name="delete" xsi:type="object">Magento\AsynchronousImportAdvancedPricing\Model\DataExchangingStrategy\AdvancedPricing\Behaviour\Delete\Proxy</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AsynchronousImportDataExchanging\Model\DataExchangingAdapter\ServiceContracts">
        <arguments>
            <argument name="exchangingProperties" xsi:type="array">
                <item name="advanced_pricing" xsi:type="array">
                    <item name="add" xsi:type="array">
                        <item name="topic" xsi:type="string">Magento\Catalog\Api\TierPriceStorageInterface</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="topic" xsi:type="string">Magento\Catalog\Api\TierPriceStorageInterface</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AsynchronousImportDataExchanging\Model\DataExchangingAdapter\Api">
        <arguments>
            <argument name="exchangingProperties" xsi:type="array">
                <item name="advanced_pricing" xsi:type="array">
                    <item name="add" xsi:type="array">
                        <item name="method" xsi:type="string">POST</item>
                        <item name="url" xsi:type="string">products/tier-prices</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
