<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AsynchronousImportDataConvertingApi\Api\Data\ConvertingRuleInterface"
                type="Magento\AsynchronousImportDataConverting\Model\ConvertingRule"/>

    <preference for="Magento\AsynchronousImportDataConvertingApi\Api\ApplyConvertingRulesInterface"
                type="Magento\AsynchronousImportDataConverting\Model\ApplyConvertingRules"/>

    <!-- Rule applying strategies -->
    <type name="Magento\AsynchronousImportDataConverting\Model\ApplyConvertingRules">
        <arguments>
            <argument name="ruleApplyingStrategies" xsi:type="array">
                <item name="uppercase_first_character" xsi:type="string">Magento\AsynchronousImportDataConverting\Model\RuleApplyingStrategy\UppercaseFirstCharacter</item>
                <item name="remove_field" xsi:type="string">Magento\AsynchronousImportDataConverting\Model\RuleApplyingStrategy\RemoveField</item>
                <item name="uppercase_string" xsi:type="string">Magento\AsynchronousImportDataConverting\Model\RuleApplyingStrategy\UppercaseString</item>
                <item name="string_replace" xsi:type="string">Magento\AsynchronousImportDataConverting\Model\RuleApplyingStrategy\StringReplace</item>
            </argument>
        </arguments>
    </type>
    <!-- Converting rule validators -->
    <type name="Magento\AsynchronousImportDataConvertingApi\Model\ConvertingRuleValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="identifier" xsi:type="object">Magento\AsynchronousImportDataConverting\Model\ConvertingRuleValidator\IdentifierValidator</item>
                <item name="string_replace_parameters" xsi:type="object">Magento\AsynchronousImportDataConverting\Model\ConvertingRuleValidator\StringReplaceParametersValidator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AsynchronousImportDataConvertingApi\Model\ConvertingRuleValidator\ApplyToValidator">
        <arguments>
            <argument name="rulesForWhichApplyToIsRequired" xsi:type="array">
                <item name="uppercase_first_character" xsi:type="string">uppercase_first_character</item>
                <item name="remove_field" xsi:type="string">remove_field</item>
                <item name="uppercase_string" xsi:type="string">uppercase_string</item>
                <item name="string_replace" xsi:type="string">string_replace</item>
            </argument>
        </arguments>
    </type>
</config>
