<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AsynchronousImportDataConvertingApi\Model\ConvertingRuleValidatorInterface"
                type="Magento\AsynchronousImportDataConvertingApi\Model\ConvertingRuleValidatorChain"/>

    <!-- Converting rule validators -->
    <type name="Magento\AsynchronousImportDataConvertingApi\Model\ConvertingRuleValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="apply_to" xsi:type="object">Magento\AsynchronousImportDataConvertingApi\Model\ConvertingRuleValidator\ApplyToValidator</item>
            </argument>
        </arguments>
    </type>
</config>
