<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Source -->
    <preference for="Magento\AsynchronousImportApi\Api\Data\SourceInterface" type="Magento\AsynchronousImport\Model\Source\Source"/>
    <preference for="Magento\AsynchronousImportApi\Api\Data\SourceSearchResultInterface" type="Magento\AsynchronousImport\Model\Source\SourceSearchResult"/>
    <preference for="Magento\AsynchronousImportApi\Api\GetSourceListInterface" type="Magento\AsynchronousImport\Model\Source\GetSourceList"/>
    <preference for="Magento\AsynchronousImportApi\Api\SaveSourceInterface" type="Magento\AsynchronousImport\Model\Source\SaveSource"/>
    <type name="Magento\AsynchronousImportApi\Model\SourceValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="uuid" xsi:type="object">Magento\AsynchronousImport\Model\Source\Validator\UuidValidator</item>
                <item name="file" xsi:type="object">Magento\AsynchronousImport\Model\Source\Validator\FileValidator</item>
                <item name="meta_data" xsi:type="object">Magento\AsynchronousImport\Model\Source\Validator\MetaDataValidator</item>
            </argument>
        </arguments>
    </type>
    <!-- Import -->
    <preference for="Magento\AsynchronousImportApi\Api\Data\ImportInterface" type="Magento\AsynchronousImport\Model\Import\Import"/>
    <preference for="Magento\AsynchronousImportApi\Api\Data\ImportDataInterface" type="Magento\AsynchronousImport\Model\Import\ImportData"/>
    <preference for="Magento\AsynchronousImportApi\Api\Data\ConvertingRuleInterface" type="Magento\AsynchronousImport\Model\Import\ConvertingRule"/>
    <preference for="Magento\AsynchronousImportApi\Api\StartImportInterface" type="Magento\AsynchronousImport\Model\Import\StartImport"/>
    <preference for="Magento\AsynchronousImportApi\Api\SaveImportInterface" type="Magento\AsynchronousImport\Model\Import\SaveImport"/>
    <type name="Magento\AsynchronousImportApi\Model\ImportValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="allowed_error_count" xsi:type="object">Magento\AsynchronousImport\Model\Import\Validator\AllowedErrorCountValidator</item>
                <item name="import_behaviour" xsi:type="object">Magento\AsynchronousImport\Model\Import\Validator\ImportBehaviourValidator</item>
                <item name="import_type" xsi:type="object">Magento\AsynchronousImport\Model\Import\Validator\ImportTypeValidator</item>
                <item name="source_uuid" xsi:type="object">Magento\AsynchronousImport\Model\Import\Validator\SourceUuidValidator</item>
                <item name="uuid" xsi:type="object">Magento\AsynchronousImport\Model\Import\Validator\UuidValidator</item>
                <item name="validation_strategy" xsi:type="object">Magento\AsynchronousImport\Model\Import\Validator\ValidationStrategyValidator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AsynchronousImportApi\Model\ConvertingRulesProcessorChain">
        <arguments>
            <argument name="ruleProcessors" xsi:type="array">
                <item name="StringReplaceConvertor" xsi:type="object">Magento\AsynchronousImport\Model\Import\ConvertingRule\StringReplaceConvertor</item>
            </argument>
        </arguments>
    </type>
</config>
