<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AsynchronousImportRetrievingSourceApi\Api\RetrieveSourceDataInterface"
                type="Magento\AsynchronousImportRetrievingSourceApi\Model\SourceDataRetrievingChain"/>

    <preference for="Magento\AsynchronousImportRetrievingSourceApi\Model\SourceDataValidatorInterface"
                type="Magento\AsynchronousImportRetrievingSourceApi\Model\SourceDataValidatorChain"/>
</config>
