<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AsynchronousImportCsvApi\Api\Data\CsvFormatInterface"
                type="Magento\AsynchronousImportCsv\Model\CsvFormat"/>

    <preference for="Magento\AsynchronousImportCsvApi\Api\CreateCsvSourceInterface"
                type="Magento\AsynchronousImportCsv\Model\CreateCsvSource"/>

    <preference for="Magento\AsynchronousImportCsvApi\Api\UpdateCsvSourceFormatInterface"
                type="Magento\AsynchronousImportCsv\Model\UpdateCsvSourceFormat"/>

    <!-- needed for resolving issue with generation of CsvFormatExtension -->
    <preference for="Magento\AsynchronousImportCsvApi\Api\Data\CsvFormatExtensionInterface"
                type="Magento\AsynchronousImportCsvApi\Api\Data\CsvFormatExtension"/>

    <type name="Magento\AsynchronousImportApi\Model\SourceReaderChain">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="csv" xsi:type="string">Magento\AsynchronousImportCsv\Model\CsvSourceReader</item>
            </argument>
        </arguments>
    </type>
</config>
