<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AsynchronousImportSourceDataUploadApi\Api\SourceDataUploadInterface"
                type="Magento\AsynchronousImportSourceDataUpload\Model\SourceDataUpload" />

    <preference for="Magento\AsynchronousImportSourceDataUploadApi\Api\Data\SourceDataUploadResultInterface"
                type="Magento\AsynchronousImportSourceDataUpload\Model\SourceDataUploadResult" />

    <type name="Magento\AsynchronousImportSourceDataUpload\Model\SourceDataUpload">
        <arguments>
            <argument name="filePath" xsi:type="string">asynchronous_import/source_data_upload</argument>
        </arguments>
    </type>
</config>
